.logo {
  margin: 2rem auto !important;
}

.btn-filled {
  background-color: white !important;
  color: grey !important;
  width: 18rem !important;
  margin: 2rem auto !important;
  opacity: 0.9;
}

.title-section {
  font-size: 4rem;
}

.top-class {
  position: relative;
  top: -100px;
}