/* RECIPE-DETAIL */


.single-recipe-labels {
  /* border-bottom: 1px solid rgba(0,0,0,0.2); */
}

.single-recipe-labels p {
  display: inline-block;
  margin-left: 10px;
}

.labels {
  /* display: inline-block; */
  list-style-type: none;
}

.recipe-image {
  margin-bottom: 20px;
}

.save-to-btn {
  margin-top: 20px;
  width: 300px;
}


.modal-btn {
  margin-top: 20px;
  width: 300px;
}




.wrapper-content h2{
  margin-bottom: 20px;
}

.single-recipe-ingredients {
  margin-bottom: 20px;
}



.primary-nutrients {
  list-style-type: none;
}




.secondary-nutrients {
  list-style-type: none;
}

.nutrients-modal {
  list-style-type: none;
}

.nutrients-modal span {
  font-weight: bolder;
}

.space-between {
  height: 20px;
}

.space-between-primary {
  
}

.calories span{
  font-weight: bolder;
}