.one-recipe-card {
  width: 250px;
  margin: 10px auto;
  border: 2px solid white;
  border-radius: 10px;
}

.one-recipe-card img {
  object-fit: cover;
  width: 250px;
  height: 350px;
  border-radius: 9px;
}

.zoom {
  border-radius: 9px;
}

.label-height {
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}